html,body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.container{
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
}

.site-footer{
  padding: 20px;
  margin: 50px -200px 0px -200px;
  background: #bebebe;
}

.site-footer>p{
  margin:0 auto !important;
  text-align:center;
  font-size: .80rem;
  color: #065880;
}
.videos-fetched{
  margin-top: 20px;
}

ul{
  list-style: none !important;
}
.form-control{
  width:100% !important;
  margin:0 auto;
}
.video-detail,.list-group{
  margin-top: 10px;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

i.fa.fa-youtube-square{
  color: #d42150;
}
#react-tube-logo-big{
  padding-bottom:5px;
  width: 150px;
}
#react-tube-logo{
  width:90px;
  padding-bottom:15px;
}
